.portlet-decorate{
    .portlet-content{
        padding: 0;
        border: none;
    }
}

.portlet-layout{
    .portlet-header{
        margin: 0;
    }
}

.portlet{
    margin-bottom: 0;
}


.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    text-align: center;
}

#portlet_com_liferay_login_web_portlet_LoginPortlet{
    width: 100%;
    display: flex;
    justify-content: center;

    .row{
        width: 70vw;
    }
}