.pricing{
    // background: var(--dark-color);
    // background-image: url('/documents/37150/0/dumbell.jpg/ae5b92e1-05db-574a-9b5d-0e4890140963');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;

    .pricing__title{
        margin-bottom: 60px;
    }

    h3{
        font-weight: bold;
        color: white;
    }

    li{
        color: #c4c4c4;
    }

    .pricingCard{
        border: 1px solid var(--white-color) ;
        border-radius: 5px;
    }

    .pricing__enroll-button{
        background-color: transparent;
        color: var(--white-color);
        transition: all 1s;
        border-color: var(--primary-color);
    }

    .pricing__enroll-button:hover{
        background-color: var(--primary-color);
    }

    .pricing__price{
        color: var(--primary-color);
        font-size: 40px;
        font-weight: 300;
    }

    h3{
        text-align: center;
    }
    
    @media (max-width: 992px) {
        .pricingCard{
            margin: 10px 0px 10px 0px;
        }

        .pricing__row{
            padding: 10px 0px 10px 0px;
        }
    }
    
}


.dark-background{
    background: var(--dark-color);
}